@import url(https://db.onlinewebfonts.com/c/1d81cdaee5e55acbcf50ccbfc8b94122?family=Vela+Sans);
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vela Sans";
}
img {
  max-width: 100%;
  height: auto;
}
svg,
i,
button {
  cursor: pointer;
}
.container2 {
  width: 95%;
  margin: 0 auto;
}
@media (min-width: 1400px) {
  .container2 {
    width: 1350px;
    margin: 0 auto;
  }
}
.swiper {
  /* width: 100%; */
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 0.1fr 0.89fr;
  grid-template-areas:
    "card1 card2"
    "card1 card4"
    "card3 card4";
}
.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}
.card4 {
  grid-area: card4;
}
@media (max-width: 418px) {
  .cards {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: 1fr 0.8fr;
    grid-template-areas:
      "card1"
      "card2"
  }
}